.create-new-password-main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-new-password-container{
    width: 600px;
    min-height: 50vh;
    display: block;
    box-shadow: 0 0 3px rgba(199, 196, 196,0.5);
}
.create-new-password-container h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(56, 56, 56);
    user-select: none;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.create-new-password-container form{
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-new-password-container form input{
    padding: 7px;
    width: 175px;
    margin: 7px;
    outline: none;
}
.newPassword,.confirmPassword{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
  
}
.newPassword>label,.confirmPassword>label{
    width: 150px;
  font-weight: 700;
}
.change-password-btn-container{
    padding: 25px;

}
.change-password-btn-container input{
    width: 100px;
    height: 30px;
    border: none;
    
    border-radius: 2px;
    background-color: tomato;
    padding: 7px;
    color: #fff;
    cursor: pointer;
}
.change-password-btn-container input:hover{
    background-color: rgba(255, 99, 71,0.7);
}
.create-new-password-alert-container{
    position: relative;
    text-align: center;
    text-justify: newspaper;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 25px;
}
.create-new-password-alert-container .error{
    font-size: 13px;
    color: red;
    font-weight: 400;
}
.create-new-password-alert-container .success{
    font-size: 13px;
    color: green;
    font-weight: bold;
}
.create-new-passowrd-footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 
}
.create-new-passowrd-footer a{
    text-decoration: none;
    color: #fff;
    background-color: tomato;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
}